@import "vars.scss";
@import "global.scss";
@import "fonts.scss";

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.container--fluid {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

.header__top {
    align-items: center;
    padding: 23px 0 17px; 
    font-family: "Roboto";
    font-weight: 400;
    line-height: 24px;
}

.top__text, .top__text-phone {
    margin-left:  auto;
    margin-right: 25px;
    font-size: 15px;
    color: $dark-blue;

    &-link {
        color: $dark-red;

        &:hover {
            border-bottom: solid 1px $dark-red;
        }

        &:focus {
            outline: solid 2px $darket-red;
        }

        &:active {
            color: $darket-red;
            outline: none;
        }
    }

    &-phone {

        &:hover {
            border-bottom: solid 1px $dark-blue;
        }

        &:focus {
            outline: solid 2px $darker-blue;
            
        }

        &:active {
            color: $darker-blue;
            outline: none;
        }
    }
}

.check {
    font-size: 12px;
    
    border-radius: 4px;

    &__link--login, &__link--registet {
        padding: 9px 20px;
        color:#fff;
        border-radius: 4px;
        width: 72px;
        height: 32px;
    }
    
    &__link--login {
        background-color: $light-green;
    }

      &__link--registet {
        background-color: $dark-red;
    }

   &__link--login:hover, &__link--registet:hover {
       background-color: #fff;
    } 

    &__link--login:hover {
        color: $light-green;
    }

    &__link--registet:hover {
        color: $darket-red;
    }
}

.menu {
    background-color: $black;
    padding: 23px 0;

    &__list-item {
        margin-right: 36px;
         display: inline-block;
    }

    &__list-link, .products__category-link {
        color: #fff;
        line-height: 30px;
        font-size: 14px;
        font-family:"Roboto";
        font-weight: 500;
    }

    &__list-link:hover, &__list-link:active  {
        border-bottom: 1px solid #fff;
    }
}

.search {
    background: url("../images/bg__search.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__inner {
        padding: 135px 0 100px;
        font-family: "Roboto";
        font-weight: 500;
        color: #fff;
        line-height: 30px;
        text-align: center;
        
        

        &-title {
            font-family: "Roboto";
            font-weight: 700;
            font-size: 48px;
        }

        &-text {
            font-size: 20px;
            
        }
    }
}

.form__search {
    margin-top: 54px;
    position: relative;

    &-input {
     width: 670px;
     height: 56px;
     border-radius: 4px;
     box-shadow: 0px 1px 10px 0 rgba(124, 178, 64, 0.75);
     background-color: #ffffff;
     font-size: 14px;
     letter-spacing: 0.7px;
     padding: 0 60px 0 25px;
    }
    
    &-btn {
        position: absolute;
        border:none;
        background-color: transparent;
        top: 25%;
        right: 280px;

        &:hover {
            cursor: pointer;
        }
    }
}

.products {
    padding: 121px 0 123px;
    background-color: $bg-light;
    
    &__cart {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        height: 100%;
    }
}

.title--h2 {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
    color: $black;
    text-align: center;
}

.products__category {
    margin-top: 60px;
    
    &-link {
        margin-left: 6px;
        width: 70px;
        height: 37px;
        padding: 13px 27px;
        box-shadow: 0px 2px 5px 0 rgba(202, 215, 228, 0.75);
        background-color: #fff;
        font-family: "Roboto";
        font-weight: 500;
        color: $black;
    }

    &-link:hover, &-link:active {
        color: #fff;
        background-color: $dark-red;
    }
    
}



.cart__info {
    widows: 442px;
    margin-top: 59px;
    font-family: "Roboto";
    font-weight: 500;
    color: $black;
    font-size: 14px;
    border-style:  solid;
    border-color: $border-color;
    border-width: 0 1px 1px 1px;

    &:hover {
        box-shadow: 0px 16px 20px 0 rgba(216, 216, 216, 0.75);
    }

    &__info-image {
        width: 442px;
        height: 250px;
    }
}

.hide {
    display: none;
}

.popular {
  width: 63px;
  height: 64px;
  border-top: 100px solid $light-green;
  border-right: 100px solid transparent;
  position: absolute;
  
}

.bolt {
    fill: #fff;
    width: 18px;
    height: 36px;
    position: relative;
    bottom: 86px;
    left: 14px;
}

.block {
        padding: 17px 31px;
        border-bottom: solid 1px $border-color ;
        align-items: center;

    &__price {
        font-weight: 700;
        font-size: 20px;
    }
}

.block__text {
    &-title {
        font-size: 18px;
    }

    &-category {
        color: $light-green;
       
    }
}

.theme {
    padding: 17px 31px 21px;
}

.theme__author-link {
    &--img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        
    }

    &--name {
        color: $dark-blue;
        margin-left: 13px;
        

        &:hover {
            color:$light-green ;
        }
    }
}












@import "media.scss";

